/*this is my external styles sheet for Restaurant V7*/
#topsection {
	text-align: center;
	font-family: "Lobster", Arial, Sans;
	font-size: 50px;
	padding: 10px;

}

a {
	text-decoration: none;
	padding: 8px 0 8px 16px;
	font-weight: normal;
}
a:link {
	color: Green;
}

a:visited {
	color: Orange;
}
a:hover {
	font-weight: bold;
}
header {
	font-size: 15px;
	font-weight: bold;
	background-color: #b7efff;
}

footer {
	font-weight: bold;
	font-size: 15px;
	background-color: #b7efff;
}
th {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

}
form {
	font-size: 15px;
	font-weight: bold;
}
option {
	font-style: italic;
}
